# Tests
src/test/**
src/it/**
test/**
it/**
tests
.vscode-test/**
.vscode-testworkspace/**
INTEGRATION_TESTS_RU.md
TESTS_RU.md

# Dev artifacts
node_modules
.github
.vscode
coverage
*.tsbuildinfo
*.map

# Git
.git
.gitignore